* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}
.quiz{
  text-align: center;
  background-color: #224350;
  margin: 100px auto;
  font-family: roboto;
  padding: 40px;
  width: 390px;
  height: 844px;
  min-width: 300px;
}
#nextBtn{
  margin-left: 10px;

}

#prevBtn2{
  z-index: 5;
  background-color: #5E9BB2
}
.nextQuiz {
  position: relative;
  margin-top: 700px;
  padding: auto;
}
#regForm {
  background-color: #EDEDE6;
  margin: 100px auto;
  font-family: roboto;
  padding: 40px;
  width: 390px;
  height: 844px;
  min-width: 300px;
}

h1 {
  text-align: center;  
  color: #224350
}
h2 {
  color: #EDEDE6;
}
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: roboto;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}
.bottombutton {
  padding-left: 75px;
    padding-top: 400px;
    bottom: 10px;
    align-items: center;
}
a:link, a:visited {
    background-color: #FBA52D;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: roboto;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 700;
  color: #224350;
  text-decoration: none;
}
.onBoardButton {
    font-size: large;
    font-weight: 700;
}
button {
  background-color: #FBA52D;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: roboto;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #224350;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #5E9BB2;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #224350;
}